{include file="public/header" /}
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">
      <div class="layui-form-item">
        <label for="title" class="layui-form-label">
          <span class="x-red">*</span>文章标题
        </label>
        <div class="layui-input-inline">
          <input type="text" id="title" value="{:empty($data.title) ? '' : $data.title}" name="title" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一文章标题
        </div>
      </div>
      <div class="layui-form-item">
        <label for="small_title" class="layui-form-label">
          简略标题
        </label>
        <div class="layui-input-inline">
          <input type="text" id="small_title" name="small_title" value="{:empty($data.small_title) ? '' : $data.small_title}" autocomplete="off" class="layui-input">
        </div>

      </div>
      <div class="layui-form-item">
        <label for="catid" class="layui-form-label">
          <span class="x-red">*</span>分类栏目
        </label>
        <div class="layui-input-inline">
          <select name="catid" class="select">
            <option value="">请选择分类</option>
            {volist name="$cats" id="vo"}
            <option {if condition="!empty($data) && $data['catid'] eq $vo['id']"}selected="selected"{/if} value="{$vo.id}">{$vo.html}{$vo.name}</option>
            {/volist}
          </select>
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="description" class="layui-form-label">
          <span class="x-red">*</span>文章摘要
        </label>
        <div class="layui-input-block">
          <textarea autocomplete="off" class="layui-textarea" name="description"id="description"
                    lay-verify="required"  class="textarea"  placeholder="说点什么...最少输入10个字符" >{:empty($data.description) ? '' : $data.description}</textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="topid" class="layui-form-label">
          所属标签
        </label>
        <div class="layui-input-block">
          {volist  name="topid" id="vo"}
            <input type="checkbox" {if condition="!empty($data) && check_document_position($data['topid'],$vo['value'])"}checked="checked"{/if} name="topid[]" id="topid" title="{$vo['name']}" value="{$vo['value']}">
          {/volist}
          <label for="topid">&nbsp;</label>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="image" class="layui-form-label">
          <span class="x-red">*</span>缩略图：
        </label>
        <div class="layui-input-inline">
          <div class="upload" {if condition="!empty($data)"}data-value="{$data['image']}"{/if} data-name="image" action='{:url("news/upload")}' data-num='1' id='image'></div>
        </div>
      </div>

      <div class="layui-form-item">
        <label for="editor" class="layui-form-label">
          <span class="x-red">*</span>文章内容：
        </label>
        <div class="layui-input-block">
          <textarea id="editor" name="content" style="height: 400px;"  required lay-verify="required"  >{:empty($data.content) ? '' : $data.content}</textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <label for="status" class="layui-form-label">
          文章状态
        </label>
        <div class="layui-input-block">
          {volist  name="menu" id="vo"}
          {if condition="!empty($data)"}
            <input type="radio" name="status" value="{$vo.value}" title="{$vo.name}" {if condition="$data['status'] eq $vo['value']"}checked=""{/if}>
          {else /}
            <input type="radio" name="status" value="{$vo.value}" title="{$vo.name}" {if condition="$key eq 0"}checked=""{/if}>
          {/if}
          {/volist}
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        {if condition="!empty($data)" }
        <input type="hidden" name="id" value="{$data['id']}">
        {/if}
        <input type="hidden" name="action" value="{$action}">
        <button  class="layui-btn" lay-submit lay-filter="add" type="button">
          添加
        </button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="__STATIC__/common/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/common/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/common/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function(){
        $("#image").upload();
    })
    var url="{:url('upload/index')}";
    var ue = UE.getEditor('editor',{
        serverUrl :url
    });
    layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        form.on('checkbox(father)', function (data) {
            if(data.elem.checked){
                $(this).val(1);
                form.render();
            }else{
                $(this).val(0);
                form.render();
            }
        });
        //监听提交
        form.on('submit(add)',
            function(data) {
                // 使用Ajax提交表单数据
                backtrack("{:url('news/"+data.field.action+"')}",data.field,true);
            });

    });</script>
</body>

</html>
