{include file="public/header" /}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="title" class="layui-form-label">
                            <span class="x-red">*</span>权限名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="title" name="title" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span>规则格式
                        </label>
                        <div class="layui-input-inline">
                            <input placeholder="控制器/操作名" type="text" id="name" name="name" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="icon" class="layui-form-label">
                            icon图标
                        </label>
                        <div class="layui-input-inline">
                            <input placeholder="icon图标" type="text" id="icon" name="icon" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <input type="hidden" name="pid" value="{:empty($pid) ? 0 : $pid}">
                      <button  class="layui-btn" lay-filter="add" type="button" lay-submit="">
                          增加
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                function(data) {
                    // 使用Ajax提交表单数据
                    backtrack('{:url(\'authRule/add\')}',data.field,true);
                });

            });</script>
    </body>

</html>
