{include file="public/header" /}
<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="{:url('active/index')}">APP统计使用情况</a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
  </a>
</div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body ">
          <form class="layui-form layui-col-space5">
            <div class="layui-input-inline layui-show-xs-block">
              <select name="app_type" lay-filter="app_type">
                <option value="0">全部分类</option>
                {volist name="$apptype" id="vo"}
                <option {if condition="$vo['value'] eq $app_type_value"}selected{/if} value="{$vo.value}">{$vo.name}</option>
                {/volist}
              </select>
            </div>
          </form>
        </div>
        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
            <tr>
              <th>ID</th>
              <th>app类型</th>
              <th>版本号</th>
              <th>对外版本号</th>
              <th>使用人数</th>
              <th>添加时间</th>
              <th>操作</th></tr>
            </thead>
            <tbody>
            {volist  name="active" id="vo"}
            <tr>
              <td>{$vo.id}</td>
              <td>{$vo.app_type|getMenuName=$apptype,###}</td>
              <td>{$vo.version}</td>
              <td>{$vo.version_code}</td>
              <td>{$vo.number}</td>
              <td>{$vo.create_time}</td>
              <td class="td-manage">
                <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('查看详细','{:url(\'active/detailed\',[\'app_type\'=>$vo.app_type,\'version\'=>$vo.version])}')" ><i class="layui-icon">&#xe60a;</i>查看详细</button>
              </td>
            </tr>
            {/volist}
            </tbody>
          </table>
        </div>
        <div class="layui-card-body ">
          <div id="laypage"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
    var url = '{:url("active/index")}'+'?{$query}';
    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
        laypage.render({
            elem: 'laypage',
            count: {$total},
            limit: {$size},
            limits:'',
            first: '首页'
            ,last: '尾页',
            curr :'{$curr}',
            layout: ['count', 'prev', 'page', 'next', 'skip'],
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    //alert(url+'?page='+e.curr);
                    location.href = url+'&page='+e.curr;
                }
            }
        });
    })
    layui.use(['laydate', 'form'],
    function() {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
        form = layui.form;

        form.on('select(app_type)', function(data){
            self.location='{:url(\'active/index\')}?app_type='+data.value;
        });
    });
</script>

</html>