{include file="public/header" /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="#">分类</a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加','{:url(\'cate/add\')}')">
                                <i class="layui-icon"></i>添加</button>
                            <div style="float: right;">
                                <div class="layui-card-body ">
                                    <form class="layui-form layui-col-space5">
                                        <div class="layui-input-inline layui-show-xs-block" style="float:right">
                                            <select name="type" lay-filter="type">
                                                <option value="0">全部分类</option>
                                                {volist name="$menu" id="vo"}
                                                <option {if condition="$vo['value'] eq $type_value"}selected{/if}  value="{$vo.value}">{$vo.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  <th width="70">ID</th>
                                  <th>栏目名</th>
                                  <th width="50">位置</th>
                                  <th width="50">排序</th>
                                  <th width="80">状态</th>
                                  <th width="350">操作</th>
                              </thead>
                              <tbody class="x-cate">
                              {volist name="cateres" id="cate"}
                                <tr cate-id='{$cate.id}' fid='{$cate.pid}' >
                                  <td>{$cate.id}</td>
                                  <td>
                                      {:str_repeat('&nbsp;', $cate['level']*8)}
                                      {if condition="$cate['subclass'] eq true"}
                                      <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                      {else}
                                      ├
                                      {/if}
                                      {$cate.name}
                                  </td>
                                  <td>{$cate.type|getMenuName=$menu,###}</td>
                                  <td><input type="text" class="layui-input x-sort" onclick="setSort('sort{$cate.id}','{:url(\'cate/sort\')}')" id="sort{$cate.id}" data-id="{$cate.id}" name="sort" value="{$cate.sort}"></td>
                                  <td>
                                      <input type="checkbox" name="switch" lay-skin="switch" data-id="{$cate.id}" lay-filter="switchTest"  lay-text="开启|停用"  {if condition="$cate['status'] eq 1"}checked=""{/if} lay-skin="switch">
                                  </td>
                                  <td class="td-manage">
                                      <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','{:url(\'cate/edit\',[\'id\'=>$cate.id,\'type\'=>$type_value])}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                      <button class="layui-btn layui-btn layui-btn layui-btn-normal layui-btn-xs"  onclick="xadmin.open('栏目图片','{:url(\'cate/images\',[\'id\'=>$cate.id])}')" ><i class="layui-icon">&#xe64a;</i>栏目图片</button>
                                    <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="xadmin.open('添加','{:url(\'cate/add\',[\'id\'=>$cate.id])}')" ><i class="layui-icon">&#xe642;</i>添加子栏目</button>
                                    <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="current_del(this,'{:url(\'cate/del\',[\'id\'=>$cate.id])}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                  </td>
                                </tr>
                              {/volist}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
          layui.use(['form'], function(){
            form = layui.form;
              //监听提交
              form.on('submit(add)',
                  function(data) {
                      // 使用Ajax提交表单数据
                      backtrack('{:url(\'cate/add\')}',data.field);
                  });
              form.on('switch(switchTest)', function(requst){
                  data={
                      "status":this.checked ? 1 : 0,
                      "id":requst.elem.dataset.id
                  };
                  setChecked('{:url(\'cate/status\')}',data);
              });
              form.on('select(type)', function(data){
                  self.location='{:url(\'cate/index\')}?type='+data.value;
              });
          });
          // 分类展开收起的分类的逻辑
          // 
          $(function(){
            $("tbody.x-cate tr[fid!='0']").hide();
            // 栏目多级显示效果
            $('.x-show').click(function () {
                if($(this).attr('status')=='true'){
                    $(this).html('&#xe625;'); 
                    $(this).attr('status','false');
                    cateId = $(this).parents('tr').attr('cate-id');
                    $("tbody tr[fid="+cateId+"]").show();
               }else{
                    cateIds = [];
                    $(this).html('&#xe623;');
                    $(this).attr('status','true');
                    cateId = $(this).parents('tr').attr('cate-id');
                    getCateId(cateId);
                    for (var i in cateIds) {
                        $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                    }
               }
            })
          })

          var cateIds = [];
          function getCateId(cateId) {
              $("tbody tr[fid="+cateId+"]").each(function(index, el) {
                  id = $(el).attr('cate-id');
                  cateIds.push(id);
                  getCateId(id);
              });
          }
   
        </script>
    </body>
</html>
