<!doctype html>
<html  class="x-admin-sm">
<head>
  <meta charset="UTF-8">
  <title>后台登录</title>
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
  <link rel="stylesheet" href="__STATIC__/admin/css/login.css">
  <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
  <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
  <script src="__STATIC__/common/lib/layui/layui.js" charset="utf-8"></script>
  <!--[if lt IE 9]>
  <script src="__STATIC__/admin/js/html5.min.js"></script>
  <script src="__STATIC__/admin/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
  <div class="message">管理登录</div>
  <div id="darkbannerwrap"></div>

  <form method="post" class="layui-form" >
    <input name="username" placeholder="用户名" value="test"  type="text" lay-verify="required" class="layui-input" >
    <hr class="hr15">
    <input name="password" lay-verify="required" placeholder="密码" value="test1"  type="password" class="layui-input">
    <hr class="hr15">
    <input name="code" lay-verify="required" placeholder="验证码"  type="text" class="layui-input">
    <hr class="hr15">
    <img src="{:captcha_src()}" alt="captcha" onclick="reloadcode(this)" />
    <hr class="hr15">
    <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="button">
    <hr class="hr20" >
  </form>
</div>
<script src="__STATIC__/common/js/common.js"></script>
<script>
    // 刷新验证码
    function reloadcode(obj) {
        obj.src="/captcha?id="+Math.random();
    }
    $(function  () {
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(login)', function(data){
                // 使用Ajax提交表单数据
                backtrack('{:url(\'login/check\')}',data.field);
            });
        });
    })
</script>
<!-- 底部结束 -->
</body>
</html>